p {
  font-family: Comic Sans MS;
}

h1 {
  background-color: red;
  float:center;
  border: 3px dashed blue;
  margin: auto;
  padding: 20px 10px 20px 10px;
  font-family: Arial;
  text-align:center;
}

h2 {
  font-family:Arial;
  float:center;
  margin:auto;
  text-align: center;
}

h3 {
  float:center;
  font-family:Arial;
  margin: auto;
  text-align: center;
}

footer>p {
  text-align:center;
}

#contact {
  background-image: url("background.jpg");
}

.text {
  text-align:center;
  background-color: lightblue;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav>li:hover {
  background-color:lightblue;
}

a:visited {
  color:red;
}

@media (max-width: 400px) {
  * {
    font-size: 70%;
  }
}