p {
  font-family: Comic Sans MS;
}

h1 {
  float:center;
  border: 3px dashed blue;
  margin: auto;
  padding: 20px 10px 20px 10px;
  font-family: Arial;
  text-align:center;
}

h2 {
  font-family:Arial;
  float:center;
}

h3 {
  float:center;
  font-family:Arial;
}

footer>p {
  text-align:center;
}

#contact {
  background-image: url("background.jpg");
}

.text {
  text-align:center;
  background-color: blue;
  border-radius: 15px;
}